<div class="col-md-13 user-container">
  <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
    <h2> List Details</h2>
    <button class="btn btn-success" (click)="addAddress()"> Add Address</button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
          <th>#</th>
          <th>Street</th>
          <th>Number</th>
          <th>Complement</th>
          <th>District</th>
          <th>City</th>
          <th>State</th>
          <th>Zipcode</th>
          <th>Reference</th>
          <th>#</th>
          <th>#</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let address of addresses">
      <td>{{ address.id }}</td>
      <td>{{ address.street }}</td>
      <td>{{ address.number }}</td>
      <td>{{ address.complement }}</td>
      <td>{{ address.district }}</td>
      <td>{{ address.city }}</td>
      <td>{{ address.state }}</td>
      <td>{{ address.zipcode }}</td>
      <td>{{ address.reference }}</td>
      <td>
        <button
          class="btn btn-warning mb-1 btn-sm"
          (click)="editAddress(address.id)"
        >
          Atualizar
        </button>
      </td>
      <td>
        <button class="btn btn-danger mb-1 btn-sm" href="#" (click)="deleteAddress(address)">
          Remover
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
