<div style="width: 100%; height: 160px; background-color: #FFF; display: flex; justify-content: center; align-items: center;">
  <img src="../assets/img/logo.png" width="25%">
</div>
<div class="container">
  <br>
<router-outlet></router-outlet>
</div>
